
  @import url('https://fonts.googleapis.com/css2?family=Amiri&family=Lalezar&display=swap');
  

*{
    margin: 0px;
    padding: 0px;
}
body{
    
    background-color:#22577a;
    font-family: 'Amiri', serif;
    margin: 0px;
}

h1{
    text-align: center;margin-bottom: 0px;
    position: relative;
    font-family: 'Amiri', serif;
    bottom: -125px;
    letter-spacing: 2px;
    font-size:  50px;
    margin-top: 0px;
    height: fit-content;
    z-index: 99;
}
.container{
    width: fit-content;
    display :flex;
    align-items: center;
    justify-content: center ;
    margin: 10px auto;
    border-radius: 10px;
    height: 800px;
    background-color: #57cc998a;
    flex-direction: column;
    
    
}
.yo {
    background-color: #c7f9cce3;
    width: fit-content;
    color: black;
    letter-spacing: 1px;
    line-height: 2;
    /* font-weight: bold; */
    margin:30px 35px 0px;
    border-radius: 5px;
    padding: 5px 2px;
    margin: auto 4px;
    direction: rtl;
    font-size: 24px;
    position: relative;
    font-family: 'Amiri', serif;


}


.refrence{
position:absolute;
left: 2px;
bottom: -75px;
color: black;
    font-weight: bold;

}

#getnew{
    position: relative;
    top: -50px;   
    height: 10%;
    width: 60%;
    border-radius: 8px;
    border: none;
    background-color: #22577a;
    font-size: 1.8em;
    color: white;
    transition: all ease 0.2s;

}

#getnew:hover{
    cursor: pointer;
    background-color: white;
    color:#22577a ;
}


@media screen and (min-width: 600px)  {

    .container{
        max-width: 500px;
        max-height: 750px;
    }
}
 

.yo{
    font-size: 23px;
    margin: auto 15px;
    text-align: center;
}




@media screen and (max-width: 500px) {


#getnew{
    top: -15px;
    height:10%;
    font-size: 22px;
    position: relative;
}
.refrence{
    position: relative;
    top: 35px;
    left: -90px;
}
h1{
    position: relative;
    top: 50px;
    font-size: 35px;
    width: 200px;
    margin: 0px auto;
}
 .container{
    position: relative;
    top: -30px;
    width: 300px;
    height: 560px;
 }
.yo{
    font-size: 15px;
}
}
  